* {
    position: relative;
    margin: 0;
}

a {
    text-decoration: none;
}
#earth {
    height: 100vh;
    z-index: 15;
}

.earth-img {
    position: absolute;
    /* need to remove spaces of each of these img */
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 1;
}
#float3 {
    z-index: 20;
    height: 500vh;
}
#float2 {
    z-index: 20;
    height: 500vh;
}
#float1 {
    z-index: 20;
    height: 500vh;
}
#float {
    z-index: 20;
    height: 500vh;
}
.floattext2{
    height: 100vh;
    width: 25vw;
    left: 50vw;
    font-size: 3vh;
}

.floating-text {
    height: 100vh;
    width: 25vw;
    left: 20vw;
    font-size: 3vh;
}

span {
    background-color: white;
}



.toggle{
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 2;
}
.toggle a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    cursor: pointer;
}
.menu{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.87);
    z-index: 1;
    transition: 0.5s;
}
ul{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
ul li{
    list-style: none;
}

ul li a{
    padding: 10px;
    display: inline-block;
    font-family:"Noto Sans TC","PMingLiU", verdana;
    font-weight: 900;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
ul li a:hover{
    background:none;
}
.menu.active{
    left: 0;
    overflow: auto;
}

.video-container {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 65px;
    text-align: right;
    position: absolute;
    font-family:  "Noto Sans TC","PMingLiU"，"Roboto",  微軟正黑體, 繁黑體, "Microsoft JhengHei", "Microsoft YaHei", "Heiti TC", "LiHei Pro", "PMingLiU";
    color: white;
    font-weight: 900;
    top: 0;
    padding: 50vh 0vh 0vh 45vh;
    text-shadow: 2px 2px 30px black;
}

#first1 {
    background-image: url(./起飛.JPG);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#first2 {
    background-image: url(./飛翔.JPG);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#first3 {
    background-image: url(./太平洋.JPG);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#first4 {
    background-image: url(./蘭嶼.JPG);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.paragraph {
    margin-top: 100px;
    font-size: 22px;
    color: black;
    font-family: "PMingLiU";
    font-weight: "bold";
    text-align: center;
}

#second {
    background-image: url(P2.png);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#third {
    background-image: url(./正面2.jpeg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#forth {
    background-color: white;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.chap {
    background-color: blanchedalmond;
    opacity: 0.7;
    color: black;
    font-family: "PMingLiU";
    font-size: 65px;
    position: relative;
    top: 250px;
    left: 15%;
    padding: 50px;
    width: 80%;
    font-weight: 900;
    text-align: center;
}
#prefifth{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#fifth {
    background-image: url(./游泳的海圖.png);
    height: 300vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#sixth {
    background-color: white;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#seventh1 {
    background-image: url(./棒球場.png);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#seventh2 {
    background-image: url(./圖片1.png);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#seventh3 {
    background-image: url(./圖片二.png);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#eight {
    background-color: white;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#ninth {
    background-image: url(P7.png);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#tenth {
    background-color: white;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



#twelve {
    background-color: white;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#thirteen {
    background-image: url(P9.png);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#timeline1 {
    background-color: white;
    height: 100vh;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./完整時間軸1.png);
}
#timeline2 {
    background-color: white;
    height: 100vh;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./完整時間軸2.png);
}
#timeline3 {
    background-color: white;
    height: 100vh;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./完整時間軸3.png);
}

#ending {
    background-color: black;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ending {
    margin-top: 100px;
    font-size: 22px;
    color: white;
    font-family: "PMingLiU";
    font-weight: "bold";
    text-align: center;
}



